name: Build

on:
  push:
    branches: [ purge-gradle ]

jobs:
  maven-central:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, macos-latest, windows-latest, ubuntu-latest ]
        type: [ modular, non-modular ]
        include:
          - os: ubuntu-latest
            ARCH: "x64"
          - os: windows-latest
            ARCH: "x64"
          - os: macos-15-intel
            ARCH: "x64"
          - os: macos-latest
            ARCH: "aarch64"
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24
          architecture: ${{ matrix.ARCH }}
      - name: Find javafx version
        id: version
        run: |
          MAVEN_VERSION=`cat settings.properties | grep maven_version | cut -d'=' -f2`
          echo "maven_version=$MAVEN_VERSION" >> $GITHUB_OUTPUT
        shell: bash
      - name: Test Maven (Linux)
        if: runner.os == 'Linux'
        run: |
          mvn -q versions:set-property -Dproperty=javafx.version -DnewVersion=${{ env.maven_version }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
          xvfb-run --auto-servernum --server-args="-ac -screen 0 1280x1024x24" mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
        env:
          maven_version: ${{ steps.version.outputs.maven_version }}
          MAVEN_CENTRAL_PORTAL_BEARER_TOKEN: ${{ secrets.MAVEN_CENTRAL_PORTAL_BEARER_TOKEN }}
      - name: Test Maven (Mac)
        if: runner.os == 'macOS'
        run: |
          mvn -q versions:set-property -Dproperty=javafx.version -DnewVersion=${{ env.maven_version }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
          mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx -s settings.xml -Pcentral
        env:
          maven_version: ${{ steps.version.outputs.maven_version }}
          MAVEN_CENTRAL_PORTAL_BEARER_TOKEN: ${{ secrets.MAVEN_CENTRAL_PORTAL_BEARER_TOKEN }}
      - name: Test Maven (Windows)
        if: runner.os == 'windows'
        run: |
          mvn -q versions:set-property -Dproperty='javafx.version' -DnewVersion='${{ env.maven_version }}' -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx -s settings.xml "-Pcentral"
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx -s settings.xml "-Pcentral"
          mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx -s settings.xml "-Pcentral"
        env:
          maven_version: ${{ steps.version.outputs.maven_version }}
          MAVEN_CENTRAL_PORTAL_BEARER_TOKEN: ${{ secrets.MAVEN_CENTRAL_PORTAL_BEARER_TOKEN }}
  sdk:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, macos-latest, windows-latest, ubuntu-latest ]
        type: [ modular, non-modular ]
        include:
          - os: ubuntu-latest
            ARCH: "x64"
            platform: "linux"
          - os: windows-latest
            ARCH: "x64"
            platform: "windows"
          - os: macos-15-intel
            ARCH: "x64"
            platform: "osx"
          - os: macos-latest
            ARCH: "aarch64"
            platform: "osx"
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24
          architecture: ${{ matrix.ARCH }}
      - name: Find SDK version
        id: sdk
        run: |
          SDK_VERSION=`cat settings.properties | grep sdk_version | cut -d'=' -f2`
          echo "sdk_version=$SDK_VERSION" >> $GITHUB_OUTPUT
          VERSIONPATH=$SDK_VERSION
          if [[ "$VERSIONPATH" == *"ea"* ]]; then
             VERSIONPATH=`echo $VERSIONPATH | cut -d'-' -f 1`
          fi
          echo "sdk_versionpath=$VERSIONPATH" >> $GITHUB_OUTPUT
        shell: bash
      - name: Find SDK path
        if: runner.os != 'Windows'
        id: platform
        run: |
          SDK=${{ runner.temp }}/javafx-sdk-${{ steps.sdk.outputs.sdk_versionpath }}
          echo "javafx=$SDK" >> $GITHUB_OUTPUT
        shell: bash
      - name: Find SDK path (Windows)
        if: runner.os == 'Windows'
        id: platform_win
        run: |
          $env:SDK = '${{ runner.temp }}\javafx-sdk-${{ steps.sdk.outputs.sdk_versionpath }}'
          echo "javafx=$env:SDK" >> $env:GITHUB_OUTPUT
        shell: pwsh
      - name: Setup JavaFX
        if: runner.os != 'Windows'
        run: |
          wget -P ${{ runner.temp }} https://download2.gluonhq.com/openjfx/${{ steps.sdk.outputs.sdk_versionpath }}/openjfx-${{ env.sdk_version }}_${{ matrix.platform }}-${{ matrix.ARCH }}_bin-sdk.zip
          unzip ${{ runner.temp }}/openjfx-${{ env.sdk_version }}_${{ matrix.platform }}-${{ matrix.ARCH }}_bin-sdk.zip -d ${{ runner.temp }}
        env:
          sdk_version: ${{ steps.sdk.outputs.sdk_version }}
      - name: Setup JavaFX (Windows)
        if: runner.os == 'Windows'
        run: |
          Import-Module BitsTransfer; Start-BitsTransfer https://download2.gluonhq.com/openjfx/${{ steps.sdk.outputs.sdk_versionpath }}/openjfx-${{ env.sdk_version }}_windows-${{ matrix.ARCH }}_bin-sdk.zip ${{ runner.temp }}\openjfx-${{ env.sdk_version }}_windows-${{ matrix.ARCH }}_bin-sdk.zip
          Expand-Archive -Force ${{ runner.temp }}\openjfx-${{ env.sdk_version }}_windows-${{ matrix.ARCH }}_bin-sdk.zip ${{ runner.temp }}\
        env:
          sdk_version: ${{ steps.sdk.outputs.sdk_version }}
      - name: Test Maven (Linux)
        if: runner.os == 'Linux'
        run: |
          mvn -q versions:set-property -Dproperty=javafx.version -DnewVersion=${{ env.sdk_version }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q versions:set-property -Dproperty=sdk -DnewVersion=${{ env.JAVAFX_HOME }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          xvfb-run --auto-servernum --server-args="-ac -screen 0 1280x1024x24" mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
        env:
          JAVAFX_HOME: ${{ steps.platform.outputs.javafx }}
          sdk_version: ${{ steps.sdk.outputs.sdk_version }}
      - name: Test Maven (MacOS)
        if: runner.os == 'macOS'
        run: |
          mvn -q versions:set-property -Dproperty=javafx.version -DnewVersion=${{ env.sdk_version }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q versions:set-property -Dproperty=sdk -DnewVersion=${{ env.JAVAFX_HOME }} -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
        env:
          JAVAFX_HOME: ${{ steps.platform.outputs.javafx }}
          sdk_version: ${{ steps.sdk.outputs.sdk_version }}
      - name: Test Maven (Windows)
        if: runner.os == 'windows'
        run: |
          mvn -q versions:set-property -Dproperty='javafx.version' -DnewVersion='${{ env.sdk_version }}' -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q versions:set-property -Dproperty=sdk -DnewVersion='${{ env.JAVAFX_HOME }}' -DgenerateBackupPoms=false -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q clean compile -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
          mvn -q javafx:run -f ${{ matrix.type }}/maven/hellofx/sdk-pom.xml -s settings.xml -Pcentral
        env:
          JAVAFX_HOME: ${{ steps.platform_win.outputs.javafx }}
          sdk_version: ${{ steps.sdk.outputs.sdk_version }}
  jmod:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-15-intel, macos-latest, windows-latest, ubuntu-latest ]
        include:
          - os: ubuntu-latest
            ARCH: "x64"
            platform: "linux"
          - os: windows-latest
            ARCH: "x64"
            platform: "windows"
          - os: macos-15-intel
            ARCH: "x64"
            platform: "osx"
          - os: macos-latest
            ARCH: "aarch64"
            platform: "osx"
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24
          architecture: ${{ matrix.ARCH }}
      - name: Find JMOD version
        id: jmod
        run: |
          JMOD_VERSION=`cat settings.properties | grep jmod_version | cut -d'=' -f2`
          echo "jmod_version=$JMOD_VERSION" >> $GITHUB_OUTPUT
          VERSIONPATH=$JMOD_VERSION
          if [[ "$VERSIONPATH" == *"ea"* ]]; then
             VERSIONPATH=`echo $VERSIONPATH | cut -d'-' -f 1`
          fi
          echo "jmod_versionpath=$VERSIONPATH" >> $GITHUB_OUTPUT
        shell: bash
      - name: Find JMOD home
        if: runner.os != 'Windows'
        id: platform
        run: |
          JMOD_HOME=${{ runner.temp }}/javafx-jmods-${{ steps.jmod.outputs.jmod_versionpath }}
          RUNTIME=target/runtime
          JAVA_RUNTIME=$RUNTIME/bin/java
          echo "jmod_home=$JMOD_HOME" >> $GITHUB_OUTPUT
          echo "runtime=$RUNTIME" >> $GITHUB_OUTPUT
          echo "java_runtime=$JAVA_RUNTIME" >> $GITHUB_OUTPUT
        shell: bash
      - name: Find JMOD home (Windows)
        if: runner.os == 'Windows'
        id: platform_win
        run: |
          $env:JMOD_HOME = '${{ runner.temp }}\javafx-jmods-${{ steps.jmod.outputs.jmod_versionpath }}'
          $env:RUNTIME = 'target\runtime'
          $env:JAVA_RUNTIME = $env:RUNTIME + '\bin\java'
          echo "jmod_home=$env:JMOD_HOME" >> $env:GITHUB_OUTPUT
          echo "runtime=$env:RUNTIME" >> $env:GITHUB_OUTPUT
          echo "java_runtime=$env:JAVA_RUNTIME" >> $env:GITHUB_OUTPUT
        shell: pwsh
      - name: Setup JavaFX
        if: runner.os != 'Windows'
        run: |
          wget -P ${{ runner.temp }} https://download2.gluonhq.com/openjfx/${{ steps.jmod.outputs.jmod_versionpath }}/openjfx-${{ env.jmod_version }}_${{ matrix.platform }}-${{ matrix.ARCH }}_bin-jmods.zip
          unzip ${{ runner.temp }}/openjfx-${{ env.jmod_version }}_${{ matrix.platform }}-${{ matrix.ARCH }}_bin-jmods.zip -d ${{ runner.temp }}
        env:
          jmod_version: ${{ steps.jmod.outputs.jmod_version }}
      - name: Setup JavaFX (Windows)
        if: runner.os == 'Windows'
        run: |
          Import-Module BitsTransfer; Start-BitsTransfer https://download2.gluonhq.com/openjfx/${{ steps.jmod.outputs.jmod_versionpath }}/openjfx-${{ env.jmod_version }}_windows-${{ matrix.ARCH }}_bin-jmods.zip ${{ runner.temp }}\openjfx-${{ env.jmod_version }}_windows-${{ matrix.ARCH }}_bin-jmods.zip
          Expand-Archive -Force ${{ runner.temp }}\openjfx-${{ env.jmod_version }}_windows-${{ matrix.ARCH }}_bin-jmods.zip ${{ runner.temp }}\
        env:
          jmod_version: ${{ steps.jmod.outputs.jmod_version }}
      - name: Test JMODS (MacOS)
        if: runner.os == 'macOS'
        run: |
          cd modular/maven/hellofx
          javac --module-path ${{ env.JMOD_HOME }} -d mods $(find src -name "*.java")
          cp -r src/main/resources/* mods
          ${{ env.JAVA_HOME }}/bin/jlink \
          --module-path ${{ env.JAVA_HOME }}/jmods:${{ env.JMOD_HOME }}:mods \
          --add-modules javafx.fxml,javafx.web,hellofx \
          --output ${{ env.RUNTIME }} \
          --strip-debug --compress 2 --no-header-files --no-man-pages
          ${{ env.JAVA_RUNTIME }} -Dsettings.javafx.version=${{ env.jmod_version }} -m hellofx/org.openjfx.MainApp
        env:
          RUNTIME: ${{ steps.platform.outputs.runtime }}
          JAVA_RUNTIME: ${{ steps.platform.outputs.java_runtime }}
          JMOD_HOME: ${{ steps.platform.outputs.jmod_home }}
          jmod_version: ${{ steps.jmod.outputs.jmod_version }}

      - name: Test JMODS (Windows)
        if: runner.os == 'Windows'
        run: |
          cd modular\maven\hellofx
          $SOURCES = Get-ChildItem -Name -Filter *.java -Recurse $pwd
          javac --module-path "${{ env.JMOD_HOME }}" -d mods $SOURCES
          Copy-Item -Force -Path "src\main\resources\*" -Destination "mods" -Recurse
          ${{ env.JAVA_HOME }}\bin\jlink `
          --module-path "${{ env.JAVA_HOME }}/jmods;${{ env.JMOD_HOME }};mods" `
          --add-modules javafx.fxml,javafx.web,hellofx `
          --output ${{ env.RUNTIME }} `
          --strip-debug --compress 2 --no-header-files --no-man-pages
          ${{ env.JAVA_RUNTIME }} --% -Dsettings.javafx.version=${{ env.jmod_version }} -m hellofx/org.openjfx.MainApp
        env:
          RUNTIME: ${{ steps.platform_win.outputs.runtime }}
          JAVA_RUNTIME: ${{ steps.platform_win.outputs.java_runtime }}
          JMOD_HOME: ${{ steps.platform_win.outputs.jmod_home }}
          jmod_version: ${{ steps.jmod.outputs.jmod_version }}

      - name: Test JMODS (Linux)
        if: runner.os == 'Linux'
        run: |
          cd modular/maven/hellofx
          javac --module-path ${{ env.JMOD_HOME }} -d mods $(find src -name "*.java")
          cp -r src/main/resources/* mods
          ${{ env.JAVA_HOME }}/bin/jlink \
          --module-path ${{ env.JAVA_HOME }}/jmods:${{ env.JMOD_HOME }}:mods \
          --add-modules javafx.fxml,javafx.web,hellofx \
          --output ${{ env.RUNTIME }} \
          --strip-debug --compress 2 --no-header-files --no-man-pages
          xvfb-run --auto-servernum --server-args="-ac -screen 0 1280x1024x24" ${{ env.JAVA_RUNTIME }} -Dsettings.javafx.version=${{ env.jmod_version }} -m hellofx/org.openjfx.MainApp
        env:
          RUNTIME: ${{ steps.platform.outputs.runtime }}
          JAVA_RUNTIME: ${{ steps.platform.outputs.java_runtime }}
          JMOD_HOME: ${{ steps.platform.outputs.jmod_home }}
          jmod_version: ${{ steps.jmod.outputs.jmod_version }}
  maven-central-publish:
    needs: [maven-central, sdk, jmod]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Find deployment id
        id: deployment_id
        run: |
          MAVEN_DEPLOYMENT_ID=`cat settings.properties | grep maven_deployment_id | cut -d'=' -f2`
          echo "maven_deployment_id=$MAVEN_DEPLOYMENT_ID" >> $GITHUB_OUTPUT
        shell: bash
      - name: Publish Deployment
        run: |
          curl --request POST \
            --header "Authorization: Bearer ${{ env.MAVEN_CENTRAL_PORTAL_BEARER_TOKEN }}" \
            "https://central.sonatype.com/api/v1/publisher/deployment/${{ env.maven_deployment_id }}"
        env:
          maven_deployment_id: ${{ steps.deployment_id.outputs.maven_deployment_id }}
          MAVEN_CENTRAL_PORTAL_BEARER_TOKEN: ${{ secrets.MAVEN_CENTRAL_PORTAL_BEARER_TOKEN }}

